spring.application.name=btl_web

# JPA settings
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.database-platform=org.hibernate.dialect.MySQLDialect

#JSP
spring.mvc.view.prefix=/WEB-INF/
spring.mvc.view.suffix=.jsp
