spring.application.name=btl_web

# Local Database connection
spring.datasource.url=jdbc:mysql://localhost:3306/
spring.datasource.username=
spring.datasource.password=
spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver

# Cloud Database Connection
#spring.datasource.url=jdbc:mysql://mysql-1f0712f6-trunghtmktb-ccbf.e.aivencloud.com:11017/movie_booking?useSSL=true&requireSSL=true&serverSslCert=C%3A%5CUsers%5CAdmin%5CDownloads%5Cca%20(1).pem&allowPublicKeyRetrieval=true
#spring.datasource.username=avnadmin
#spring.datasource.password=AVNS_Sm2c0XOD1vcnt8VmaPn
#spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver

# JPA settings
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.database-platform=org.hibernate.dialect.MySQL8Dialect

#JSP
spring.mvc.view.prefix=/WEB-INF/
spring.mvc.view.suffix=.jsp

# Gmail SMTP settings
spring.mail.host=smtp.gmail.com
spring.mail.port=587
spring.mail.username=lecaophong555@gmail.com
spring.mail.password=lvhz jyqp qtok dpbq
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=true
spring.mail.default-encoding=UTF-8