:root {
  /* Màu sắc chính (điều chỉnh chung) */
  --color-primary: #bb000c;
  --color-primary-container: #ff7668;
  --color-on-primary: #ffefed;

  /* Văn bản */
  --color-on-surface: #2d2f2f;
  --color-on-surface-variant: #5a5c5c;

  /* Nền */
  --color-surface: #f6f6f6;
  --color-surface-container-low: #f0f1f1;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-high: #e1e3e3;

  /* Chức năng */
  --color-error: #b41340;
  --color-outline: #767777;
}
